* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 16px;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #ffffff;
}

::-webkit-scrollbar-thumb {
  background-color: #9e9ea0;;
  border-radius: 10px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Prompt', sans-serif;
  /* display: grid;
  height: 100%;
  width: 100%;
  place-items: center;
  background: linear-gradient(315deg, #fff 0%, #d7e1ec 74%); */
}

nav {
  display: flex;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 2px 3px 2px #f1f1f1;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
}

ul li {
  list-style-type: none;
}

ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li {
  /* background-color: blue; */
  height: 100px;
  display: flex;
  align-items: center;
}

a{
	text-decoration: none;
	color:#000 ;
}

.title {
  /* gap: 16px; */
  text-decoration: none;
  padding: 1rem 1.5rem;
  cursor: pointer;
}

.title h1 {
  font-size: 2rem;
  color: #8ea604;
}

.menu {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.itens-menu {
  text-decoration: none;
  font-size: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  color: #8ea604;
  font-weight: 600;
  transition: background-color 0.3s ease-in-out
}

.itens-menu:hover {
  background-color: #f0efeb;
}

.initial-page {
  padding-top: 3rem;
  background: #f2f4ff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.initial-image {
  width: 600px;
  height: 650px;
}

.about {
  background: #f2f4ff;
  display: flex;
  margin-top: 2rem;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  padding: 10rem 6rem;
}

.div-about {
  width: 50%;
}

.occupation-area {
  background: #f2f4ff;
  display: flex;
  margin-top: 2rem;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 10rem 6rem;
}

.div-occupation-area {
  width: 50%;
}

.therapy {
  background: #f2f4ff;
  display: flex;
  margin-top: 2rem;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  padding: 10rem 6rem;
}

.div-therapy {
  width: 50%;
}

.depositions {
  background: #f2f4ff;
  display: flex;
  margin-top: 2rem;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10rem 6rem;
}

.div-depositions {
  width: 50%;
}

.h1-depositions {
  text-align: center;
}

.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f2f4ff;
  width: 100%;
  margin-top: 2rem;
  padding: 3rem;
}

.div-contact {
  width: 50%;
}

.h1-contact {
  text-align: center;
}

footer {
  border-top: 1px solid #f1f1f1;
  box-shadow: 0px -2px 3px #f1f1f1;
  text-align: center;
  padding: 1rem;
}

.social-media {
  display: grid;
  height: 100%;
  width: 100%;
  place-items: center;
  background: linear-gradient(315deg, #fff 0%, #d7e1ec 74%);
}

.social-media .button {
  display: inline-block;
  height: 60px;
  width: 59px;
  margin: 0 5px;
  overflow: hidden;
  background: #fff;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.social-media .button:hover {
  width: 200px;
}

.social-media .button .icon{
  display: inline-block;
  height: 60px;
  width: 60px;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
.social-media .button:nth-child(1):hover .icon{
  background: #4267B2;
}

.social-media .button span{
  font-size: 20px;
  font-weight: 700;
  /* line-height: 60px; */
  margin-left: 10px;
  /* transition: all 2s ease-out; */
}

.social-media .button:nth-child(1) span{
  color: #4267B2;
}
